.project-actions {
    display: flex;
    gap: var(--spacing-md);
}

.project-actions svg {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    padding: var(--spacing-xs);
}

.project-actions svg:hover {
    background: #dbd3e3;
    outline-color: #afb2b6;
    font-weight: bold;
    border-radius: 50%;
}