.app-button {
    background-color: var(--color-primary);
    display: inline-block;
    outline: none;
    cursor: pointer;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .5s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: var(--spacing-sm) var(--spacing-md);
    color: #fff;
    font-size: var(--font-size-base);
}

.app-button:hover{
    transform: scale(1.02);
    background-color: var(--color-secondary);
}