.appButton {
    background-color: var(--color-primary);
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .5s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 8px 16px;
    color: #fff;
    font-size: clamp(0.75rem, 0.714rem + 0.179vw, 0.875rem);
    line-height: 1.35;
}

.appButton:hover{
    transform: scale(1.02);
    background-color: var(--color-primary-hover);
}