.landingPage {
    min-height: calc(100vh - var(--top-bar-height));
}

.mainSection {
    min-height: calc(100vh - var(--top-bar-height));
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
    max-width: 640px;
    margin-inline: auto;
    padding-inline: 16px;
}

.mainSection h2 {
    color: var(--color-text-gray);
}

.titles {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    align-items: start;
}