.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    min-width: 480px;
    background-color: #FFFFFF;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-stroke);
}