.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    min-width: 480px;
    background-color: #FFFFFF;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-md);
}