nav {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    min-height: 88px;
    background-color: #FFFFFF;
    box-shadow: var(--shadow-sm);
    align-items: center;
    justify-items: center;
}

nav .content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    font-size: var(--font-size-base);
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: 0.5s;
    padding: var(--spacing-sm);
}

nav a:hover {
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: var(--spacing-sm);
    transform: scale(1.10);
}