.searchResultsContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: stretch;
    justify-content: flex-start;
}

.searchResultCard {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: start;
    text-decoration: none;
    border: 1px solid var(--color-stroke);
    padding: 8px 16px;
    border-radius: 12px;
}

.searchResultCard svg {
    min-width: 24px;
    min-height: 24px;
}

.searchResultCard p,
.searchResultCard h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.searchResultCard p {
    color: var(--color-text-gray);
}

.searchResultCard:hover {
    background-color: var(--color-primary-hover);
    color: white;
}

.searchResultCard:hover p {
    color: white;
}
