.actionsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
}

.enqueueScraping {
    display: flex;
    align-items: center;
    gap: 16px;
}

.downloadButton {
    max-width: 300px;
}