.failedItems {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: stretch;
    max-width: 60%;
    margin-bottom: 64px;
}

.failedItemContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid var(--color-stroke);
}

.failedItemContainer svg {
    min-width: 24px;
    min-height: 24px;
}