.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 600px;
}

.taskForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
}

.formActions {
    display: flex;
    gap: 16px;
}