.mainSection {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 64px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    gap: 64px;
    flex: 6;
    min-width: 320px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 4;
}