
.resPageContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

.resPageContainerActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}